@{
    ViewBag.Title = " Danh sách shipper";
}


<div class="box box-primary">
    <div class="box-body">
        <form action="#" method="get">
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập tên shipper cần tim.." spellcheck="false" data-ms-editor="true">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Admin/Shipper/Create" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </span>
            </div>
        </form>
        @* danh sach nhà cung cấp *@
        <p style="margin:10px 0 10px 0">
            Có <strong>1,234 </strong>Shipper, Hiện đang ở trang <strong>1</strong> trên tổng số <strong>200</strong>
        </p>
        <div class="table-responsive">
            <table class="table table-borderd table-hover">
                <thead class="btn-primary">
                    <tr>
                        <th>Tên shipper </th>
                        
                        <th>Điện thoại </th>
                        <th style="width:80px"></th>

                      
                    </tr>


                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>

                            <td>Trần Văn Hiếu</td>
                            <td>099837376</td>
                            


                            <td>
                                <a href="~/Admin/Shipper/Edit/123" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="~/Admin/Shipper/Delete/123" class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>

